.container-telugu {
    border-radius: 10px;
    background-color: #282828; /* Light orange background color */
    margin: 10px;
     margin-top: 15px;
    margin-left: 24%; /* Offset by the width of the sidebar */
    width: calc(100vw-margin-left); /* Fill 75% of the remaining width */
    height: 100vh; /* Fill remaining height after navbar */
    overflow-y: auto; /* Enable vertical scroll if content exceeds height */
}
.container-telugu-sec1{
    padding-top: 30px;
    background-color: rgba(255, 192, 203, 0.812);
    padding-left: 15px;
    padding-right: 15px;
}
.teluguimg { 
    padding: 20px;
    height: 300px;
    max-width: 400px; /* Limit the maximum width of the image */
    display: block; /* Ensure the image is block-level */
    margin: 0 auto; /* Center align the image */
    margin-left: 5%;
}
.sec1-tel{
    background-color: pink;
}

.container-telugu h1 {
    color: white; /* Orange text color */
    margin-top: 10px; /* Adjust margin as needed */
    margin-left: 10px;
}
